body {
	font-family: 'Nunito Sans', sans-serif;
}

html {
	--primary_orange: #f97316;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url(images/hero.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    
}

.inner-container {
    max-width: 1024px;
    width: 100%;
    height: 800px;
    margin: auto;
    display: inline-block;

}

.header {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo_container {
    height: 100px;
    display: flex;

}

.navigaton {
    display: flex;
    align-items: center;

}

.navigation_items {
    padding: 0 10px;
    color: #57534E;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: solid; 
    font-size: 16px;
    font-weight: 500;
    
}

.phone {
    display: flex;
    color: #1c1917;
    font-size: 16px;
    font-weight: 500;

}

.phone_icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #1c1917;
    display: block;
    font-size: 16px;
    font-weight: 400;

}

.hero-title {
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
    color: #1c1917;
    font-size: 60px;
    font-weight: 800;
    
}

.hero-text {
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    color: #57534E;
    font-weight: 300;
    display: block;
    
}

.button_large {
    padding: 16px 32px;
    background-color: var(--primary_orange);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 1px 1px 4px #d6d3d1;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    border: none;
    text-decoration: none;

}

.button_large:hover {
    background-color: #ea580c;
}

.section_inner_containers {
    margin: auto;
    padding: 100px 70px;
    max-width: 1024px;
    height: 744.5px;
    display: block;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;
    
}

.section-title {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    display: block;
    max-width: 1024px;

}

.benifits {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    
}

.benifit {
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
    margin: 16px;
    background-color: #f5f5f4;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.benifit-title {
    font-size: 18px;
    margin-top: 10px;
    display: block;
    font-size: 18px;
    font-weight: 500;

}

.benifit-content {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
    color: #57534e;
    text-align: center;
    display: block;

}

.benifit-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    background-color: var(--primary_orange);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #d6d3d1;
    font-size: 26px;
    font-weight: 400;
    text-align: center;

}

.about-us {
    display: flex;
    margin-top: 50px;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.about-us-content {
    display: block;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.about-us-title {
    display: block;
    margin-bottom: 50px;
    color: #1c1917;
    font-size: 30px;
    font-weight: 700;

}

.about-us-text {
    margin-top: 20px;
    line-height: 20px;
    color: #44403c;
    display: block;
    font-size: 16px;
    font-weight: 400;

}

.about-us-image {
    width: 500px;
    margin-left: 20px;
    display: block;

}

.section_orange {
    background-color: #ffedd5;
    margin: auto;
    height: 270px;
    padding-top: 100px;
    padding-bottom: 70px;
    display: block;
        
}

.inner-container {
    max-weight: 1024px;
    margin: auto;
    display: block;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.section-title {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    display: block;
    color: #1c1917;

}

.section-subtitle {
    color: #57534E;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    display: block;
    font-weight: 400;

}

.lesson-form {
    margin: 70px auto;
    display: flex;
    justify-content: center;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;
    
}

.lesson-form-input {
    height: 50px;
    border: 1px solid #d6d3d1;
    border-radius: 8px;
    padding-left: 5px;
    margin-right: 10px;
    display: inline-block;
    background-color: white;
    font-family: Arial;
    font-weight: 400;
    padding-bottom: 1px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: start;
    outline: 0;

}

.button-large2 {
    padding: 16px 32px;
    background-color: var(--primary_orange);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 1px 1px 4px #d6d3d1;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    border: none;
    text-decoration: none;

}

.button-large2:hover {
    background-color: #ea580c;

}

.section-gray {
    background-color: #fafaf9;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 70px;
    display: block;
    color: #1c1917;

}

.inner-container-reviews {
    max-weight: 1024px;
    margin: auto;
    display: block;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.section-title-reviews {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    display: block;
    color: #1c1917;
        
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.review {
    border-bottom: 1px solid #d6d3d1;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 600px;
    display: block;
    color: #1c1917;

}

.review-title {
    margin-bottom: 10px;
    font-size: 18px;
    display: block

}

.review-text {
    color: #44403c;
    line-height: 20px;
    font-weight: 300;
    display: block;

}

.inner-container-rates {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 70px;
    max-width: 1024px;
    display: block;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.section-title-rates {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    display: block;
    color: #1c1917;
    
}

.rates {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    color: #1c1917;
    font-size: 16px;
    font-weight: 400;

}

.rate {
    flex-grow: 1;
    border: 1px solid #e7e5e4;
    border-radius: 10px;
    padding: 20px;
    margin: 16px;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;

}

.rate-title {
    font-size: 18px;
    margin-top: 10px;
    color: var(--primary_orange);
    display: block;

}

.rate-price {
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
    display: block

}

.rate-details {
    margin-top: 20px;
    display: block;

}

.rate-detail {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    margin-top: 5px;
    color: #78716c;
    font-size: 14px;
    margin-bottom: 5px;

}

.check-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #65a30d;
    font-size: 14px;
    
}

.flex {
    display: flex;
    
}

.rate-button {
    background-color: #ffedd5;
    border-radius: 8px;
    width: 100%;
    color: var(--primary_orange);
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: Arial;
    border: none;

}

.rate-button:hover {
    background-color: #fed7aa;
}

.footer {
    background-color: #e7e5e4;
    height: 150px;
    display: block;

}

.inner-container-footer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: #78716c;
    max-width: 1024px;
    margin: auto;
    font-size: 16px;
    font-weight: 400;

}

.phone {
    display: flex;
    align-items: center;
    color: #78716c;
    font-size: 16px;
    font-weight: 400;
    
}

.phone-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #78716c;
    font-size: 16px;
    font-weight: 400;

}

.icon {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    color: #78716c;
    font-weight: 400;

}

.icon:hover {
   color: black;

}

